# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# pytest cache
.pytest_cache/

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store
